<div class="w-100 dropdown" dropdown #dropdown="bs-dropdown" [insideClick]="true" (onShown)="selectUser({name: '', id: ''}); getUsersListStatus$.next('')">
    <button dropdownToggle type="button" id="button-basic" class="form-control dropdown-toggle d-flex align-items-center justify-content-between"
        aria-controls="dropdown-basic">
        {{selectedUser?.name ||  'Select Name'}}
        <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="p-0 dropdown-menu w-100" role="menu" aria-labelledby="button-basic">
        <div class="d-flex">
            <input (input)="getUsersList(query.value)" #query type="text" class="form-control w-100 dropdown-query"
                placeholder="Enter search query">
        </div>
        <li class="ml-3" *ngIf="(getUsersListStatus$ | async) === 'pending'">Loading...</li>
        <li class="ml-3" *ngIf="(getUsersListStatus$ | async) === 'error'">Error!</li>
        <li class="ml-3" *ngIf="(getUsersListStatus$ | async) === 'success' && (usersList$ | async)?.length === 0">Nothing is found!</li>

        <li *ngFor="let opt of (usersList$ | async)" role="menuitem" class="d-flex">
            <a (click)="selectUser(opt); dropdown.hide();" class="dropdown-item">
                <p class="mb-0 fs-14 fc-lighter">{{opt.name}}</p>
            </a>
        </li>
    </ul>
</div>
