<div class="card text-dark bg-light mb-3 mr-3 h-100" style="width: 300px;">
  <div class="card-header">
    <h5 class="card-title mb-0">Your account information</h5>
  </div>
  <div class="card-body">
    <p class="card-text" *ngFor="let item of (userInfo$ | async) | keyvalue">
      {{ item.key }} : <b>{{ item.value }}</b>
    </p>
  </div>
</div>