.login-wrapper.app-login-wrapper .login {
  text-align: center;
}

.app-support-block {
  margin-top: 60px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
