<form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="exampleInputUserName1">User name</label>

        <app-users-list [selectedUser]="{name: this.formGroup.controls.name.value, id: '' }" 
                        (getSelectUser)="this.formGroup.controls.name.setValue($event.name || '')"
        ></app-users-list>

        <div class="alert alert-danger mt-3"
            *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name'].touched">
            User name is incorrect!
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputAmount1">Amount</label>
        <input formControlName="amount" type="number" class="form-control" id="exampleInputAmount1"
            aria-describedby="amountHelp" placeholder="Enter amount">
        <div class="alert alert-danger mt-3"
            *ngIf="formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched">
            Amount is incorrect!
        </div>
    </div>
    <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Create transaction</button>
</form>