<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" routerLink="/">PW Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="(authService.hasAuth$ | async)" class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="transactions" routerLinkActive="active">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-transaction" routerLinkActive="active">Create transaction</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!(authService?.hasAuth$ | async)">
        <li class="nav-item ml-auto">
          <a class="nav-link" routerLink="/auth/sign-in" routerLinkActive="active">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</a>
        </li>
      </ng-container>
      <ng-container *ngIf="(authService?.hasAuth$ | async)">
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">Log out</a>
        </li>
      </ng-container>
      
    </ul>
  </div>

  
</nav>

<div class="container h-100">
  <router-outlet></router-outlet>
</div>