<select class="form-control mb-3" (change)="sortTransactions($event.target.value)">
    <option value="dateUp">Sorting by date &#8593;</option>
    <option value="dateDown">Sorting by date &#8595;</option>
    <option value="nameUp">Sorting by name &#8593;</option>
    <option value="nameDown">Sorting by name &#8595;</option>
    <option value="amountUp">Sorting by amount &#8593;</option>
    <option value="amountDown">Sorting by amount &#8595;</option>
</select>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="(getTransactionsListStatus$ | async) === 'pending'" class="w-100">
                Loading...
            </tr>
            <tr *ngIf="(getTransactionsListStatus$ | async) === 'error'" class="w-100">
                Something went wrong!
            </tr>
            <tr *ngIf="(getTransactionsListStatus$ | async) === 'success' && (transactionsList$ | async).length === 0" class="w-100">
                There is nothing!
            </tr>
            <tr *ngFor="let item of (transactionsList$ | async)">
                <td>{{item.username}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.date}}</td>
                <td><button (click)="repeatTransaction(item)" class="btn btn-primary">Repeat</button></td>
            </tr>
        </tbody>
    </table>
</div>